body{
    margin: 0;
}
.main{
    display: flex;
}

img{
   width: 30%;
   height: 100vh;
}
h4{
    word-wrap: break-word;
    line-height: 2;
    padding: 3rem;
   
}
.signup-form{

    margin: 3rem;
    
   
   

}
.input-group{
    display: inline-block;
    margin-left: 3rem;
    margin-top: 2rem;
}

.submit-div{

    margin: 3rem;
}
label{
    font-size: x-small;
}
